<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laozhou.dao.AnswerMapper">
    <insert id="addAnswer" parameterType="Answer">
        insert into answer (answer_id, problem_id, answer_user_id, problem_answer, answer_date, answer_likes)
        values (#{answer_id}, #{problem_id}, #{answer_user_id}, #{problem_answer}, #{answer_date}, #{answer_likes});
    </insert>
    <delete id="delAnswerById" parameterType="int">
        delete
        from answer
        where answer_id = #{answer_id};
    </delete>
    <update id="updateAnswer" parameterType="Answer">
        update answer
        set answer_id      = #{answer_id},
            problem_id     =#{problem_id},
            answer_user_id =#{answer_user_id},
            problem_answer =#{problem_answer},
            answer_date    =#{answer_date},
            answer_likes   = #{answer_likes}
        where answer_id = #{answer_id};
    </update>
    <select id="getAllAnswerByProblemId" parameterType="int" resultType="Answer">
        select *
        from answer
        where problem_id = #{problem_id}
    </select>
    <select id="getAnswerNums" resultType="int">
        select count(*) from answer
    </select>
    <select id="getAllAnswerByUserId" parameterType="int" resultType="Answer">
        select *
        from answer
        where answer_user_id = #{answer_user_id}
    </select>


</mapper>