<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <!--加载组件扫描-->
    <context:component-scan base-package="com.laozhou.controller"/>
    <!--让SpringMVC不处理静态资源-->

    <!--前端控制器，哪些静态资源不拦截-->
    <!--    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>-->
    <!--    <mvc:resources mapping="/img/**" location="/WEB-INF/img/"/>-->
    <!--    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>-->
    <!--    <mvc:resources mapping="/images/**" location="/WEB-INF/images/"/>-->
    <!--    <mvc:resources mapping="/layui/**" location="/WEB-INF/layui/"/>-->
    <!--    <mvc:resources mapping="/json/**" location="/WEB-INF/json/"/>-->
    <!--    <mvc:resources mapping="/page/**" location="/WEB-INF/page/"/>-->


    <bean id="stringHttpMessageConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <constructor-arg value="UTF-8"/>
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="stringHttpMessageConverter"/>

        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--    <mvc:annotation-driven>-->
    <!--        <mvc:message-converters register-defaults="true">-->
    <!--            <bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
    <!--                <constructor-arg value="UTF-8"/>-->
    <!--            </bean>-->
    <!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
    <!--                <property name="objectMapper">-->
    <!--                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">-->
    <!--                        <property name="failOnEmptyBeans" value="false"/>-->
    <!--                    </bean>-->
    <!--                </property>-->
    <!--            </bean>-->
    <!--        </mvc:message-converters>-->
    <!--    </mvc:annotation-driven>-->

    <!--配置视图解析器-->
    <!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
    <!--          id="internalResourceViewResolver1">-->
    <!--        <property name="viewNames" value="WEB-INF*"/>-->
    <!--        &lt;!&ndash; 前缀 &ndash;&gt;-->
    <!--        <property name="prefix" value="/"/>-->
    <!--        &lt;!&ndash; 后缀 &ndash;&gt;-->
    <!--        <property name="suffix" value=".html"/>-->
    <!--        <property name="order" value="1"/>-->
    <!--    </bean>-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!--        <property name="viewNames" value=""/>-->
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>

<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
<!--          id="internalResourceViewResolver2">-->
<!--        &lt;!&ndash; 前缀 &ndash;&gt;-->
<!--        <property name="prefix" value="/WEB-INF/jsp/"/>-->
<!--        &lt;!&ndash; 后缀 &ndash;&gt;-->
<!--        <property name="suffix" value=".jsp"/>-->
<!--    </bean>-->
<!--        配置拦截器-->
        <mvc:interceptors>
            <mvc:interceptor>
                <mvc:mapping path="/problem/**"/>
                <mvc:mapping path="/answer/**"/>
                <bean class="com.laozhou.config.LoginInterceptor"/>
            </mvc:interceptor>
        </mvc:interceptors>
</beans>
